* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-image: url('./assets/pattern.jpg');
  background-repeat: repeat;
}

.running-line-wrapper {
  margin: 1rem 0;
	overflow: hidden;
}

.running-text {
	background-color: #2ea4d9;
	padding: 0.7rem 0;
  z-index: 2;
}

.running-text i {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
  color: #fff;
  animation: runningLineX 10s ease-in-out alternate-reverse infinite;
  -webkit-animation: runningLineX 10s ease-in-out alternate-reverse infinite;
}

@keyframes runningLineX {
	0% { 
    transform: translateX(-100%); 
    -webkit-transform: translateX(-100%); 
    -moz-transform: translateX(-100%); 
    -ms-transform: translateX(-100%); 
    -o-transform: translateX(-100%); 
  }
	100% { 
    transform: translateX(0); 
    -webkit-transform: translateX(0); 
    -moz-transform: translateX(0); 
    -ms-transform: translateX(0); 
    -o-transform: translateX(0); 
  }
}

.container {
  max-width: 62rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-grow: 1;
}

.input {
  width: 0;
  height: 0;
}

.tv-antenna {
  max-width: 12rem;
  width: 100%;
}

.tv-base {
  max-width: 30rem;
  width: 100%;
}

.tv-base-img, .tv-antenna-img {
  display: block;
  width: 100%;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  background-color: #000;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  row-gap: 1.5rem;
}

.images-wrapper {
  overflow: hidden;
  box-shadow: 0 0 1.3rem #fff;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.slider {
  display: flex;
  width: calc(100% * 4);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.slide-img {
  display: block;
  max-width: 37.5rem;
  width: 100%;
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.text-wrapper {
  width: 75%;
  overflow: hidden;
}

.slider-text {
  display: flex;
  width: calc(100% * 4);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.comment {
  font-size: 1.2rem;
  width: calc(100% * 4);
}

.slider-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.label-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 2.1rem;
  cursor: pointer;
}

.radio-btn {
  display: block;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #2ea4d9;
  border: 0.15rem solid #2ea4d9;
}

#input-01:checked ~ .slider-wrapper .images-wrapper .slider,
#input-01:checked ~ .description-wrapper .text-wrapper .slider-text {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#input-02:checked ~ .slider-wrapper .images-wrapper .slider,
#input-02:checked ~ .slider-wrapper .description-wrapper .text-wrapper .slider-text {
  transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
}

#input-03:checked ~ .slider-wrapper .images-wrapper .slider,
#input-03:checked ~ .slider-wrapper .description-wrapper .text-wrapper .slider-text {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#input-04:checked ~ .slider-wrapper .images-wrapper .slider,
#input-04:checked ~ .slider-wrapper .description-wrapper .text-wrapper .slider-text {
  transform: translateX(-75%);
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
}

#input-01:checked ~ .slider-wrapper .description-wrapper .slider-buttons .label-btn:nth-child(1) .radio-btn,
#input-02:checked ~ .slider-wrapper .description-wrapper .slider-buttons .label-btn:nth-child(2) .radio-btn,
#input-03:checked ~ .slider-wrapper .description-wrapper .slider-buttons .label-btn:nth-child(3) .radio-btn,
#input-04:checked ~ .slider-wrapper .description-wrapper .slider-buttons .label-btn:nth-child(4) .radio-btn {
  background-color: transparent;
}

.label-btn:hover .radio-btn {
  background-color: #fff;
  border: 0.15rem solid #fff;
}

.label-btn:active .radio-btn {
  background-color: #ea7fa9;
  border: 0.15rem solid #ea7fa9;
}